body{
	-ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

header{
	width: 100%;
	text-align: center;
}

#qrImg{
	width: 100%;
	text-align: center;
}

img{

}


#url{
	width: 100%;
	text-align: center;

	-ms-user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}